$theme-color: #36454F;
$background-color: #000;
$font-color: #fff;
$font-family: 'Poppins', sans-serif;

@mixin ps {
  font-size: 1.25em;
  font-family: $font-family;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 6vh;
}

body {
  margin: 0;
  padding-top: 5%;
  background-color: $background-color;
  color: $font-color;
}

.centered {
  text-align: center;
}

.circle {
  list-style-type: circle;
  margin-left: -2em;
  font-size: medium;
 }

 .job-title{
  font-size: 2.4vh;
 }
  
// Navbar
#navbar {
  transition: 0.05s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  background-color: $background-color;
  color: $font-color;
  height: 10vh;
}

#navbar-logo {
  margin-left: 1vw;
  width: 8wh;
  height: 8vh;
}

#navbar-links {
  padding-right: 5vw;
}

#navbar-hb-open {
  display: none;
  font-size: 4vh;
  color: $font-color;
  padding-right: 8vw;
}

#navbar-links-hb {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color;
  background-color: $background-color  !important;
  z-index: 9;
}

.navbar-link {
  color: $font-color;
  font-size: 18px;
  font-family: $font-family;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.navbar-link-active {
  background-color: $theme-color;
}

.navbar-link:hover {
  color: #5bca8d;
}

.navbar-link-position {
  text-decoration: underline;
}

// Video Section
#video-content {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#video-content video {
  width: 100%;
  display: block;
}

#video-overlay-text {
  color: $font-color;
  font-size: 1.5vw;
  font-family: $font-family;
  position: absolute;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 15%;
  top: 2%;
  z-index: 5;
}

#video-content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#ps-about {
  @include ps;
  padding: 8vh 20vw;
}

#ps-experience {
  @include ps;
  padding: 10vh 20vw;
}

#ps-projects {
  @include ps;
  padding: 12vh 8vw;
}

#ps-travel {
  @include ps;
  padding: 12vh 0vw;
}

#skills {
  display: flex;
  justify-content: center;
}

#skills-text {
  text-align: center;
  width: 32vw;
}

#skill-item {
  font-size: medium;
}

#time-period {
  font-size: medium;
}

#compare-heading {
    align-self: center;
    font-family: $font-family;
}

// Fixed Background
#fixed-bg-img {
  width: 100%;
  height: 20vh;
  font-size: 1.5vh;
  font-family: $font-family;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../assets/PratikshitSingh.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Modal Styles
#modal {
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-container {
  height: 50vh;
  width: 75vw;
  background-color: $font-color;
  margin: 10% auto;
  padding: 2%;
  border: 1px solid grey;
}

#modal-open {
  background-color: $theme-color;
  color: $font-color;
  font-size: 18px;
  font-family: $font-family;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
}

#modal-open:hover {
  background-color: #36454F;
}

#modal-close {
  float: right;
  cursor: pointer;
  background-color: transparent;
  font-size: 2em;
  border: none
}

#modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#modal-card {
  color: $background-color;
  background-color: $font-color;
  text-align: center;
}

#modal-card {
  color: $background-color;
  background-color: transparent;
  text-align: center;
}

#modal-card img {
  height: 25vh;
}

// Carousel Styles
#carousel {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  width: 100%;
  height: 70vh;  /* 50% of the viewport height */
  overflow: hidden;
}

#carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideFromLeft {
  animation: slideFromLeft 0.5s;
}

.slideFromRight {
  animation: slideFromRight 0.5s;
}

#ca-arrow-left {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);

  color: $font-color;
  font-weight: 800;
  position: absolute;
  margin-left: 10px;
  font-size: 14px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-radius: 100%;
  cursor: pointer;
}

#ca-arrow-right {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);

  color: $font-color;
  font-weight: 800;
  position: absolute;
  margin-right: 10px;
  font-size: 14px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-radius: 100%;
  cursor: pointer;
}

// Multicolumn Styles
* {
  box-sizing: border-box;
}

.compare-row {
  width: 100%;
  padding: 0 6vw;
}

.compare-row:after {
  content: "";
  display: table;
  clear: both;
}

.compare-column {
  float: left;
  width: 30%;
  margin: 2vh 1%;
  padding: 1% 1%;
  color: $background-color;
  background-color: $font-color;
  border-radius: 10px;
  font-family: $font-family;
}

.compare-column>img {
  height: 20vh;
  border-radius: 10px;
}

#github-logo{
  width: 4wh;
  height: 4vh;
}


@media screen and (max-width: 600px) {
  .compare-column {
      width: 100%;
  }
}

// Footer Styles
#footer {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 1%;
  text-align: center;
}

#footer a {
  color: $theme-color;
  font-size: 26px;
  margin: 1% 1%;
}

#footer-text{
  color: #46494b;
  font-size: 24px;
}


// Media Queries
// Responsive Navbar
@media screen and (max-width: 500px) {
  #navbar-links {
      display: none;
  }

  #navbar-hb-open {
      display: block;
  }

  #navbar-links-hb {
      display: none;
      position: fixed;
      top: 10vh;
      width: 95vw;
      height: 30vh;
      background-color: $font-color;
      color: $background-color;
      z-index: 9;
  }
}

@media screen and (min-width: 501px) {
  #navbar-links-hb {
      display: none !important;
  }
}

// Animations
@keyframes slideFromLeft {
  0% {
      margin-right: 100%;
  }

  100% {
      margin-right: 0%;
  }
}

@keyframes slideFromRight {
  0% {
      margin-left: -100%;
  }

  100% {
      margin-left: 0%;
  }
}