html {
  scroll-behavior: smooth;
  scroll-padding: 6vh;
}

body {
  margin: 0;
  padding-top: 5%;
  background-color: #000;
  color: #fff;
}

.centered {
  text-align: center;
}

.circle {
  list-style-type: circle;
  margin-left: -2em;
  font-size: medium;
}

.job-title {
  font-size: 2.4vh;
}

#navbar {
  transition: 0.05s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  background-color: #000;
  color: #fff;
  height: 10vh;
}

#navbar-logo {
  margin-left: 1vw;
  width: 8wh;
  height: 8vh;
}

#navbar-links {
  padding-right: 5vw;
}

#navbar-hb-open {
  display: none;
  font-size: 4vh;
  color: #fff;
  padding-right: 8vw;
}

#navbar-links-hb {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000 !important;
  z-index: 9;
}

.navbar-link {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.navbar-link-active {
  background-color: #36454f;
}

.navbar-link:hover {
  color: #5bca8d;
}

.navbar-link-position {
  text-decoration: underline;
}

#video-content {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#video-content video {
  width: 100%;
  display: block;
}

#video-overlay-text {
  color: #fff;
  font-size: 1.1vw;
  font-family: "Poppins", sans-serif;
  position: absolute;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 15%;
  top: 2%;
  z-index: 5;
}

#video-content:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.social-buttons {
position: absolute;
z-index: 10;

bottom: 30%; /* Adjust as needed for positioning */
left: 50%;
transform: translateX(-50%);
}

.social-button {
display: inline-block;
padding: 10px 15px;
margin: 0 10px;
color: #fff;
background-color: #333; /* Default color, will be overridden */
border-radius: 5px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.social-button i {
margin-right: 8px;
}

.social-button.github {
background-color: #333;
}

.social-button.github:hover {
background-color: #6e5494;
}

.social-button.linkedin {
background-color: #0077b5;
}

.social-button.linkedin:hover {
background-color: #005983;
}

#ps-skills {
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 8vh 20vw;
}

#ps-experience {
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 10vh 20vw;
}

#ps-projects {
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 12vh 8vw;
}

#ps-contact {
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 12vh 0vw;
}

#skills {
  display: flex;
  justify-content: center;
}

#skills-text {
  text-align: center;
  width: 32vw;
}

#skill-item {
  font-size: medium;
}

#time-period {
  font-size: medium;
}

#compare-heading {
  align-self: center;
  font-family: "Poppins", sans-serif;
}

#fixed-bg-img {
  width: 100%;
  height: 20vh;
  font-size: 1.5vh;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../assets/github.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideFromLeft {
  animation: slideFromLeft 0.5s;
}

.slideFromRight {
  animation: slideFromRight 0.5s;
}

#ca-arrow-left {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;
  font-weight: 800;
  position: absolute;
  margin-left: 10px;
  font-size: 14px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-radius: 100%;
  cursor: pointer;
}

#ca-arrow-right {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;
  font-weight: 800;
  position: absolute;
  margin-right: 10px;
  font-size: 14px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-radius: 100%;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.compare-row {
  width: 100%;
  padding: 0 6vw;
}

.compare-row:after {
  content: "";
  display: table;
  clear: both;
}

.compare-column {
  float: left;
  width: 30%;
  margin: 2vh 1%;
  padding: 1% 1%;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
}

.compare-column > img {
  height: 20vh;
  border-radius: 10px;
}

#github-logo {
  width: 4wh;
  height: 4vh;
}

@media screen and (max-width: 600px) {
  .compare-column {
    width: 100%;
  }
}

#footer {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 1%;
  text-align: center;
}

#footer a {
  color: #36454f;
  font-size: 26px;
  margin: 1% 1%;
}

#footer-text {
  color: #46494b;
  font-size: 24px;
}

@media screen and (max-width: 500px) {
  #navbar-links {
    display: none;
  }

  #navbar-hb-open {
    display: block;
  }

  #navbar-links-hb {
    display: none;
    position: fixed;
    top: 10vh;
    width: 95vw;
    height: 30vh;
    background-color: #fff;
    color: #000;
    z-index: 9;
  }
}

@media screen and (min-width: 501px) {
  #navbar-links-hb {
    display: none !important;
  }
}

@keyframes slideFromLeft {
  0% {
    margin-right: 100%;
  }

  100% {
    margin-right: 0%;
  }
}

@keyframes slideFromRight {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0%;
  }
}
